body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 4px #32b9cd solid;
}

.header .container {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #e3b062;
    margin: 15px;
}

.agora {
    font-weight: 800;
}

.navbar {
    color: #e3b062;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.banner {
    height: fit-content;
    padding: 40px 0;
    color: white;
    background-image: url(assets/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}

.banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.banner p{
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 280px;
}

.container span{
    font-weight: 800;
}

.card {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formbox{
    width: 500px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5668a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 10px;
}

.formbox div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

.formbox p {
    font-weight: 800;
    margin: 0;
}

.formbox input {
    padding: 0;
    height: 5vh;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    border: #32B9CD 2px solid; 
}

.formbox button {
    height: 35px;
    width: 100px;
    background-color: #E6005A;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.footer {
    background-color: #32B9CD;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}